*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Tahoma;

    background:#F4F7FA;

}

.container{

    max-width:1200px;

    margin:auto;

    padding:30px;

}

header{

    text-align:center;

    margin-bottom:40px;

}

h1{

    color:#0F4C81;

    margin-bottom:10px;

}

h2{

    color:#0F4C81;

    margin-bottom:20px;

}

section{

    background:white;

    border-radius:16px;

    padding:25px;

    margin-bottom:30px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}
